@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body{
  background-image: url(./Images/wallpaper.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

input{
  border: 2px solid silver;
  background-color: transparent;
  border-radius: 10px;
  color: white;
}

textarea{
  border: 2px solid silver;
  background-color: transparent;
  border-radius: 10px;
  color: white;
}

.image-radius{
border-radius: 50%;
}

.image-radius:hover{
  transform: scale(1.3);
}

.foo{
  padding: 5px;
  background-color: transparent;
  border: 0px;
}

.NavigationBarStyle{
  display: flex;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  position: fixed;
  background-color: #839192;
  top:0.5em;
  right:3em;
  z-index: 1000;
}

.NavItemStyle{
  padding-right: 25px;
  font-size: 1.3em;
  cursor:pointer;
  color: #ECF0F1;
}

.small-menu-classname{

  padding-top: 5px;
  padding-left: 4px;
  display: flex;
}

a:hover {
  color: #F5B041;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

#flyoutMenu{
  display: none;
}

.Menuitem{
  padding: 15px;
  font-weight: bold;
}

@media all and (max-width: 800px){
  .NavigationBarStyle{
    display: none;
  }

#flyoutMenu{
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  font-size: 1.3em;
  width: 40vw;
  height: 100vh;
  background-color: #AED6F1;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  z-index: 4000;
  }

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: #ECF0F1;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
}

.App-title {
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  font-size: 1.2em;
  margin-bottom: 0px;
  color: #ECF0F1;
}

.App-About {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
  font-family: 'Alegreya';
  font-size: 25px;
  color: #ECF0F1;
  text-align: left;
}

#slide {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    left: -1500px;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@keyframes slide {
    100% { left: 0; }
}

#slide1 {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    right: -1500px;
    animation: slide1 0.5s forwards;
    animation-delay: 1s;
}

@keyframes slide1 {
    100% { right: 0; }
}

#slide2 {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    top: -1500px;
    animation: slide2 0.5s forwards;
    animation-delay: 1s;
}

@keyframes slide2 {
    100% { top: 0; }
}

#slide3 {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    top: -1500px;
    animation: slide3 0.5s forwards;
    animation-delay: 1.2s;
}

@keyframes slide3 {
    100% { top: 0; }
}

#slide4 {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    top: -1500px;
    animation: slide4 0.5s forwards;
    animation-delay: 1.4s;
}

@keyframes slide4 {
    100% { top: 0; }
}

#slide5 {
    display: flex;
    flex-direction: column;
    flex-wrap: column-wrap;
    position: relative;
    font-size: 18px;
    top: -1500px;
    animation: slide5 0.5s forwards;
    animation-delay: 1.6s;
}

@keyframes slide5 {
    100% { top: 0; }
}

#foo2{
  align-self: flex-end;
}
.foo3{
  display: flex;
  position: absolute;
  position: fixed;
  right: 5px;
  z-index: 3000;
  padding-top: 250px;
}

.foo4{
  display: flex;
  position: absolute;
  position: fixed;
  left: 5px;
  z-index: 3000;
  padding-top: 250px;
}
