@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

body{
  background-color: black;
}

.foo{
  padding: 5px;
}

.foo2{
  align-self: flex-end;
  animation: rightdirect 0.5s infinite;
}

.NavigationBarStyle{
  display: flex;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  position: fixed;
  top:0.5em;
  right:3em;
  margin-bottom: 28px;
  z-index: 1000;
}

.NavItemStyle{
  padding: 13px;
  font-size: 1.3em;
  cursor:pointer;
  color: #ECF0F1;
}

.small-menu-classname{
  display: flex;
  padding-bottom: 20px;
}

a:hover {
  color: #F5B041;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

#flyoutMenu{
  display: none;
}

.Menuitem{
  padding: 15px;
  font-weight: bold;
}

@media all and (max-width: 800px){
  .NavigationBarStyle{
    display: none;
  }

#flyoutMenu{
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  font-size: 1.3em;
  width: 40vw;
  height: 100vh;
  background-color: #AED6F1;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  z-index: 3000;
  }

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: #ECF0F1;
  font-size: 2.5em;
  margin-bottom: 10px;
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
}

.App-title {
  font-style: italic;
  font-family: 'Permanent Marker', 'cursive', 'Concert One';
  font-size: 1.2em;
  margin-bottom: 0px;
  color: #ECF0F1;
}

.App-intro {
  font-size: large;
}

@keyframes rightdirect {
  0% {right: 0px;}
  100% {right: 10px;}
}
